.item-view {
  margin-bottom: 30px;

  &.MuiPaper-root {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  a {
    color: $text-default;

    &.back-link {
      color: $text-secondary;
      text-decoration: none;
    }
  }

  .back-link {
    display: flex;
    align-items: center;
  }

  .item-header {
    a {
      text-decoration: none;
    }
  }

  h1 {
    margin: 30px 0 20px;

    .site {
      color: $text-secondary;
      margin-left: 10px;
      font-size: 20px;
    }
  }

  .metadata {
    color: $text-secondary;

    a {
      color: $text-secondary;

      &:hover {
        color: $primary-color;
      }
    }
  }

  .comment-section {
    margin-top: 50px;

    h2 {
      margin-bottom: 25px;
    }
  }
}
